#board {
	/*border: 2px solid black;*/
	width: 448px;
	height: 448px;
	margin: auto;
	/*background-color: blue;*/
}
.new_game{
	/* border:2px; */
	margin:auto;
	width:200px;

}
.hidden{
	display: none;
}